fastapi
python-multipart
uvicorn
pydantic>=2.0
langgraph
langchain
langchain-groq
langchain-openai
pytest
python-dotenv
sqlalchemy>=2.0
psycopg[binary]>=3.1
transformers>=4.40.0
sentencepiece>=0.2.0
langdetect>=1.0.9
torch
